.register-footer-container {
  margin-top: auto; /* Push the footer to the bottom of the page */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  backdrop-filter: blur(1px);
  position: fixed;
  bottom: 0px;
  min-width: 100%;
}
