@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/Metropolis-Regular.otf") format("opentype");
  font-weight: normal; /* You can define specific weights if needed */
  font-style: normal; /* You can define specific styles if needed */
}
