#root {
  --boxes-border: #71849e84;
  --custom-bg-blue: #3888ff;
  --options-bg-gray: #f7f8ff;
  --bg-card: #f4f6ff;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: "Metropolis", sans-serif !important;
}

.custom-font-bold {
  font-weight: 700;
}

.custom-border-color-blue {
  border-color: #3888ff !important;
}

.custom-font-bolder {
  font-weight: 900;
}

.custom-font-smaller {
  font-size: 0.5rem;
}
.custom-font-small {
  font-size: 0.6rem;
}

.custom-font-medium {
  font-size: 0.7rem;
}

.custom-font-normal {
  font-size: 0.8rem;
  font-weight: normal;
}

.custom-font-large {
  font-size: 1rem;
}

.custom-font-larger {
  font-size: 1.2rem;
}

.custom-heading-5 {
  font-size: 0.6rem;
}
.custom-heading-4 {
  font-size: 0.7rem;
}
.custom-heading-3 {
  font-size: 0.8rem;
}
.custom-heading-2 {
  font-size: 0.9rem;
}
.custom-heading-1 {
  font-size: 1rem;
}

.custom-text-gray {
  color: #b3b3b3;
}

.custom-text-blue {
  color: #3888ff;
}

.custom-bg-blue {
  background-color: #3888ff;
}

.custom-bg-light-blue {
  background-color: #80b2ff;
}

.custom-bg-gray {
  background-color: #80b3ff41;
}

.custom-font-semi-bold {
  font-weight: 500;
}

.custom-card-background {
  background-color: #f4f6ff;
}

.btn-custom-blue {
  background-color: #3888ff; /* Default background color */
  border: none;
}

.btn-custom-blue:hover {
  background-color: #6ea8ff; /* Hover background color */
}

/* ////////// */
